*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(232, 250, 175);
  background-image: url(./img.jpg);
}

.form {
  background: transparent;
  padding: 1.25rem;
  width: 30rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  border: 2px solid#aeabab;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2.5rem;
}

.form-title {
  font-size: 1.85rem;
  text-align: center;
  font-weight: 900;
  margin: 1rem;
  color: #292827;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form-container label {
  font-size: 1.8rem;
  font-weight: 600;
}

.input {
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: rgb(252, 251, 249);
}

.input:focus {
  border-color: rgb(34, 39, 39);
  border: 2px solid rgb(145, 236, 237);
}

.input.success {
  border: 2px solid rgb(108, 236, 108);
}

.input.error-input {
  border: 2px solid rgb(234, 59, 59);
}

.error {
  font-size: 1.25rem;
  font-weight: 500;
  color: red;
  margin-left: 1rem;

  visibility: hidden;
}

.error-message {
  visibility: visible;
}

.btn-submit {
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: rgb(123, 240, 240);
  border: 5px solid rgb(45, 224, 224);
  color: rgb(5, 5, 5);
  font-weight: 800;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-submit:hover {
  transform: translateY(-2px);
}
